/* footer.css */
.footer-container {
  background-color: #ff4d00;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-icons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons li {
  margin: 0 20px;
  transition: color 0.3s ease-in-out; /* Add color transition effect */
}

.footer-icons li a {
  text-decoration: none;
  color: inherit;
}

.footer-icons li a:hover {
  color: #ffb951; /* Change the color on hover (you can use any color you like) */
}
