/* Main.css */
.content {
    padding: 2rem;
  }
  
  .input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .name-input,
  .video-url-input {
    width: 45%;
    padding: 0.5rem;
  }
  
  .add-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .add-button:hover {
    background-color: #0056b3;
  }
  
  .video-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .video-card {
    width: 48%;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .delete-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 0.3rem 0.5rem;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .delete-button:hover {
    background-color: #cc0000;
  }
  
  .video-name {
    margin-top: 1rem;
    font-weight: bold;
  }
  