/* Navbar.css */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ff4d00;
    color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  

  
  .navbar-menu {
    display: flex;
  }
  
  .navbar-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navbar-menu li {
    margin: 0 1rem;
  }
  
  .navbar-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar-menu a:hover {
    color: #000000;
  }
  

 /* navbar.css */
.icon {
  transition: transform 0.3s ease-in-out;
}

.icon:hover {
  color: #fff700;
  transform: scale(1.2); /* Increase the size on hover */
}


/* RGB Color Changing Text Animation */
.navbar-menu ul li a {
  position: relative;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease-in-out;
}

.navbar-menu ul li a:hover {
  animation: rgbColorChange 3s infinite alternate;
}

@keyframes rgbColorChange {
  0% {
    color: rgb(255, 0, 0); /* Red */
  }
  33% {
    color: rgb(0, 255, 0); /* Green */
  }
  66% {
    color: rgb(0, 0, 255); /* Blue */
  }
  100% {
    color: rgb(255, 0, 0); /* Red */
  }
}