/* src/App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  
  border-radius: 5px;
  
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px; 
  text-align: center;
  color: #333;
  margin-bottom: 20px; 
}
.logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.input-container {
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap; 
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 100px;
}
.input-container div {
  flex-grow: 1;
}

input[type="text"] {
  /* flex-grow: 1; */
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.name-input,
.video-url-input {
  margin-bottom: 10px; /* Add space between inputs */
}

/* Add responsive styles for smaller screens */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }

  input[type="text"] {
    font-size: 14px;
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .video-list {
    flex-direction: column;
    align-items: center;
  }
}



/* navbar.css */

.navbar {
  background-color: #fcb84c; /* Adjust the background color */
  color: #333;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.navbar li {
  margin-right: 0;
}

.navbar a {
  display: block;
  padding: 15px;
  border-bottom: 1px solid #fff;
}

.navbar a:last-child {
  border-bottom: none;
}

.navbar li button{
  width: 30%;
  padding-bottom: 0px;
  margin: 10px;
}



 /* footer.css */
 .footer {
  background-color: #fcb84c; /* Adjust the background color */
  color: #333;
  padding: 20px 0;
  text-align: center;
  position:static;
  bottom: 0;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
}








/* Add space after the navbar */
.navbar + .content {
  margin-top: 20px;
}

/* Ensure footer is sticky to the bottom on smaller screens */
@media (max-width: 768px) {
  .footer {
    position: static;
  }
}



