/* src/App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.video-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.video-iframe {
  width: 100%;
  max-width: 560px;
  height: 315px;
}

/* Add responsive styles for smaller screens */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }

  input[type="text"] {
    font-size: 14px;
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .video-list {
    flex-direction: column;
    align-items: center;
  }
}

.video-card {
  position: relative;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.video-name {
  font-size: 14px; /* Adjust the font size as needed */
  font-weight: bold;
  /* position: absolute; */
  bottom: 10px;
  left: 10px;
  color: #333;
}

iframe {
  width: 100%;
  max-width: 560px;
  height: 315px;
}

.delete-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}